body {
    margin: 0;
    font-family: 'Roboto Slab', serif, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../assets/anime_image.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el fondo */
}

header {
    background: transparent;
    padding: 10px;
    padding-right: 50px; /* Asegura suficiente espacio para el botón */
    text-align: center;
    color: #FFFFFF;
    position: relative; /* Habilita el posicionamiento absoluto dentro del header */
    font-family: 'Roboto Slab', serif;
}

header .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    z-index: 10; /* Asegura que el logo esté por encima de otros elementos */
}

header h1 {
    margin: 0;
    padding: 0;
    padding-left: 120px; /* Deja espacio para el logo en el lado izquierdo */
    font-family: 'Roboto Slab', serif, monospace;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch; /* Permite a las columnas ocupar el alto completo */
    padding: 20px;
    box-sizing: border-box; /* Permite que el padding no afecte el alto total */
    font-family: 'Roboto Slab', serif, monospace;
}

.container {
    display: flex;
    width: 100%;
    height: 100%; /* Permite que el contenedor ocupe el alto completo */
    max-width: 1200px;
    gap: 20px;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif, monospace;
}

.left-column {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%; 
    background: rgba(0,0,0,0.5); 
    flex: 2; /* Organiza el ancho de la columna */
    font-family: 'Roboto Slab', serif, monospace;
}

.right-column {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    flex: 1; /* Organiza el ancho de la columna en un tercio del ancho disponible */
    font-family: 'Roboto Slab', serif, monospace;
}

textarea {
    width: 100%;
    height: 300px; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #FFFFFF;
    resize: none; /* Evita que el usuario redimensione el área de texto en el navegador */
    background: rgba(0,0,0,0.4); 
    font-family: 'Roboto Slab', serif, monospace; /* Aplicar fuente similar al estilo The Matrix */
}

button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 16px;
    margin: 5px; /* Espacio entre botones */
    font-family: 'Roboto Slab', serif, monospace;
}

button:hover {
    background-color: rgba(242, 247, 246, 0.673); /* Resalta el color de fondo del botón al pasar el cursor en el modo claro */
}

.left-column-buttons {
    display: flex; /* Organiza los botones en una fila */
    gap: 10px; /* Espacio entre botones */
}

.right-column-buttons {
    display: flex; /* Organiza los botones en una fila */
    gap: 10px; /* Espacio entre botones */
}

footer {
    background: transparent;
    padding: 10px;
    text-align: center;
    color: #FFFFFF; /* Color del texto en el footer por defecto (tema claro) */
    font-family: 'Roboto Slab', serif, monospace;
}

/* Mensaje de advertencia */
#warning_message {
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif, monospace;
}

.hidden {
    display: none;
}

/* Ajusta la Responsividad o adaptación pc/tablet/movil */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .left-column-buttons, .right-column-buttons {
        flex-direction: column;
    }

    textarea {
        height: 200px; /* Ajusta el alto del textarea en pantallas pequeñas */
    }

    header .logo {
        width: 40px; /* Reduce el tamaño del logo en pantallas medianas */
        top: 5px; /* Ajusta la posición si es necesario */
        left: 5px; /* Ajusta la posición si es necesario */
    }
    
    header h1 {
        font-size: 20px; /* Ajusta el tamaño de la fuente del encabezado */
        padding-left: 90px; /* Ajusta el padding para dejar espacio para el logo en pantallas medianas */
    }
}

@media (max-width: 480px) {
    header .logo {
        width: 30px; /* Reduce aún más el tamaño del logo en pantallas pequeñas */
        top: 5px; /* Ajusta la posición si es necesario */
        left: 5px; /* Ajusta la posición si es necesario */
    }
    
    header h1 {
        font-size: 16px; /* Ajusta el tamaño de la fuente del encabezado */
        padding-left: 70px; /* Ajusta el padding para dejar espacio para el logo en pantallas pequeñas */
    }

    button {
        font-size: 14px; /* Ajusta el tamaño de la fuente de los botones en pantallas muy pequeñas */
    }
}

/* Estilo del botón de cambio de tema */
.theme-toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 20; /* Asegura que el botón esté por encima de otros elementos */
}

/* Estilos para el tema oscuro */
.dark-mode {
    background-image: url('../assets/matrix_background.jpg');
    color: #00FF00; /* Cambia el color del texto a verde brillante */
    font-family: 'VT323', monospace; /* Cambia la fuente a VT323 en modo oscuro */
}

.dark-mode header {
    color: #00FF00; /* Cambia el color del texto en el header a verde brillante */
    font-family: 'VT323', monospace; /* Cambia la fuente a VT323 en modo oscuro */
}

.dark-mode .container {
    color: #00FF00; /* Cambia el color del texto en el contenedor a verde brillante */
    font-family: 'VT323', monospace; /* Cambia la fuente a VT323 en modo oscuro */
}

.dark-mode textarea {
    color: #00FF00; /* Cambia el color del texto en el área de texto a verde brillante */
    font-family: 'VT323', monospace; /* Cambia la fuente a VT323 en modo oscuro */
}

.dark-mode button {
    color: #00FF00; /* Cambia el color del texto en los botones a verde brillante */
    font-family: 'VT323', monospace; /* Cambia la fuente a VT323 en modo oscuro */
}

.dark-mode button:hover {
    background-color: rgba(0, 255, 0, 0.2); /* Resalta el color de fondo del botón al pasar el cursor en el modo oscuro */
}

.dark-mode #warning_message {
    color: #FFFF00; /* Cambia el color del mensaje de advertencia a verde brillante */
    font-family: 'VT323', monospace; /* Cambia la fuente a VT323 en modo oscuro */
}

.dark-mode footer {
    color: #00FF00; /* Cambia el color del texto en el footer a verde brillante */
}

/* Estilos para el tema claro */
.light-mode {
    background-image: url('../assets/anime_image.jpg'); /* Cambia la imagen según el tema claro */
    color: #000000;
    font-family: 'Roboto Slab', serif, monospace; /* Mantiene la fuente Roboto Slab en modo claro */
}

/* Estilo para el logo en modo claro */
.logo {
    content: url('./assets/blanco.png');
}

/* Estilo para el logo en modo oscuro */
.dark-mode .logo {
    content: url('./assets/verde.png');
}
